/* MasonryGrid.module.css */

.container {
  width: 100%;
  margin: 0 auto;
  columns: 4;
  column-gap: 20px;
  padding: 5%;
  padding-bottom: 25%;
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out; 
  
}

.container .box {
  position: relative;
  margin-bottom: 20px;
  break-inside: avoid;
 
}

.container .box img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease;
  display: block;
}

.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 15px;
  transition: opacity 0.3s ease;
}

.container .overlay span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container .box:hover .overlay {
  opacity: 1;
}

.title {
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .container {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 380px) {
  .container {
    columns: 1;
  }
}
.heart-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.heart-icon i {
  color: #ffb426;  /* Heart color */
  margin-right: 5px;
}

.heart-icon span {
  font-size: 14px;  /* Adjust font size */
  color: #ffb426;  /* Text color */
}

.masonry-slide-in {
  transform: translateX(0);
  opacity: 1;
}

.masonry-slide-out {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.category-filter {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

.category-filter::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome/Safari */
}

.category-button {
  flex: 0 0 auto;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}
